.color-card {
  margin: 0px 10px;
  padding: 5px;
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.color-card-highlight {
  background-color: black;
  color: white;
  padding: 8px 12px;
  display: inline;
  padding: 2px 6px;
}
